@{
    ViewBag.Title = "Contact";
}<html>
<head>
    <link href="~/Content/AboutCss.css" rel="stylesheet" />
</head>
<body>
    <section id="contact">

        <h1 class="section-header">CONTACT</h1>

        <div class="contact-wrapper">


            <div class="direct-contact-container">

                <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Chennai | IN</span></i></li>

                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="" title="Give me a call">(+91)6382008479</a></span></i></li>

                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">jayofficia@gmail.com</a></span></i></li>

                </ul>

                <hr>
                <ul class="social-media-list">
                    <li>                       
                            <i  href="https://www.facebook.com/joel.abraham.71/" class="fa fa-facebook contact-icon" aria-hidden="true"></i>                                           
                    </li>                  
                    <li>                        
                            <i href="https://www.instagram.com/jay_rockx/" class="fa fa-instagram contact-icon" aria-hidden="true"></i>                       
                    </li>                   
                </ul>
                <hr>

                <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

            </div>

        </div>

    </section>


</body>
</html>
